## PetFinder

* Nesta competição foi desenvolvolvido algoritmos para prever a adoção de animais de estimação - especificamente, com que rapidez um animal de estimação é adotado?.

## Etapa1

* Entendimento do negócio

Milhões de animais vadios sofrem nas ruas ou são sacrificados em abrigos todos os dias em todo o mundo. Se for possível encontrar um lar para eles, muitas vidas preciosas poderão ser salvas — e mais famílias felizes poderão ser criadas.

PetFinder.my é a principal plataforma de bem-estar animal da Malásia desde 2008, com um banco de dados de mais de 150.000 animais. PetFinder colabora estreitamente com amantes de animais, mídia, corporações e organizações globais para melhorar o bem-estar animal.

As taxas de adoção de animais estão fortemente correlacionadas com os metadados associados aos seus perfis online, como textos descritivos e características das fotos. Por exemplo, o PetFinder está atualmente experimentando uma ferramenta simples de IA chamada Cuteness Meter, que classifica o quão fofo um animal de estimação é com base nas qualidades presentes em suas fotos.

## Etapa 2

In [2]:
import pandas as pd
import ydata_profiling
import seaborn as sns
from matplotlib import pyplot as plt
import numpy as np

%matplotlib inline

In [5]:
train = pd.read_csv('./petfinder-adoption-prediction/train/train.csv')

train.head(5)

   Type         Name  Age  ...      PetID  PhotoAmt  AdoptionSpeed
0     2       Nibble    3  ...  86e1089a3       1.0              2
1     2  No Name Yet    1  ...  6296e909a       2.0              0
2     1       Brisco    1  ...  3422e4906       7.0              3
3     1         Miko    4  ...  5842f1ff5       8.0              2
4     1       Hunter    1  ...  850a43f90       3.0              2

[5 rows x 24 columns]

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14993 entries, 0 to 14992
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Type           14993 non-null  int64
 1   Name           13736 non-null  object
 2   Age            14993 non-null  int64
 3   Breed1         14993 non-null  int64
 4   Breed2         14993 non-null  int64
 5   Gender         14993 non-null  int64
 6   Color1         14993 non-null  int64
 7   Color2         14993 non-null  int64
 8   Color3         14993 non-null  int64
 9   MaturitySize   14993 non-null  int64
 10  FurLength      14993 non-null  int64
 11  Vaccinated     14993 non-null  int64
 12  Dewormed       14993 non-null  int64
 13  Sterilized     14993 non-null  int64
 14  Health         14993 non-null  int64
 15  Quantity       14993 non-null  int64
 16  Fee            14993 non-null  int64
 17  State          14993 non-null  int64
 18  RescuerID      14993 non-null  object
 19  VideoAmt       14993 non-null  int64
 20  Description    14981 non-null  object
 21  PetID          14993 non-null  object
 22  PhotoAmt       14993 non-null  float64
 23  AdoptionSpeed  14993 non-null  int64
dtypes: float64(1), int64(19), object(4)
memory usage: 2.7+ MB

In [7]:
train['AdoptionSpeed'].value_counts()

4    4197
2    4037
3    3259
1    3090
0     410
Name: AdoptionSpeed, dtype: int64

* Dicionário dos dados

| Variável | Definição | Tipo de variável |
|---|---|---|
| PetId | id de hash esclusido do perfil pet | quantitativa discreta |
| AdoptionSpeed | velocidade categorica de adoção. Quanto mais baixo mais rapido (alvo) | qualitatitiva ordinal |
| Type | tipo de animal (cachorro = 1, gato = 2 )| qualitativa nominal |
| Name | nome do pet (se vazio por que não tem nome) | qualitativa nominal |
| Age | idade no pet quando listatados, em meses | quantitativa discreta |
| Breed1 | raça primaria do pet | qualitativa nominal |
| Breed1 | raça secundária do pet, é pet de raça mista | qualitativa nominal |
| Gender | genero do pet (1= macho, 2= femea, 3= misto, se o perfil representar um grupo de pets) | qualitativa nominal |
| Color1 | cor primaria do pet | |
| Color2 | cor secundária do pet | |
| Color3 | cor terciária do pet | |
| MaturitySize | tamanho na maturidade (1=pequeno, 2=médio, 3=grande, 4=extragrande, 0 não especificado) | qualitativa ordinal |
| FurLength | comprimento do pelo (1=curto, 2=médio, 3=longo, 0=não especificado) | qualitativa ordinal |
| Vaccinated | animal de estimação foi vacinado (1 = sim, 2 = não, 3 não tenho certeza) | qualitativa nominal |
| Dewormed | pet foi desparasitado (1=sim, 2=não, 3= não tem certeza) | qualitativa nominal |
| Sterilized | animal de estimação foi esterilizado/castrado (1 = sim, 2 = não, 3 = não tenho certeza) | qualitativa nominal |
| Health | condição de saúde (1 = saudável, 2 = lesão leve, 3 = lesão grave, 0 não especificado) | |
| Quantity | numero de pets representados no perfil | quantitativa discreta |
| Fee | taxa de adoção (0 = taxa) | |
| State | localização do estado na Malásia (consulte o dicionário de rótulos estaduais) | |
| RescuerID | ID de hash exclusivo de resgate | quantitativa discreta |
| VideosAmt | total de videos enviados para este pet | quantitativa discreta |
| PhotoAmt | total de fotos enviados para este pet | quantitativa discreta |
| Description | Redação do perfil deste animal de estimação | |